
header {
    display: grid;
    grid-template: 1fr 1fr/ repeat(3,1fr);
    justify-items: center;
    align-items: center;
}

h1 {
    grid-column: 2;
    grid-row: 1;
}

nav {
    grid-column: 2;
    grid-row: 2;
    justify-self: stretch;
}

nav ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    list-style: none;
    justify-self: center;
    align-self: center;
    padding: 0;
}

nav ul li{
    margin: 2px;
    justify-self: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}


